{
  "extends": "./node_modules/@dh-dependency/react/config/.babelrc",
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src/js"],
        "alias": {
          "project": "./"
        }
      }
    ]
  ]
}
